body {
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.content {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

.color-title {
  font-weight: normal;
}

img {
  height: 200px;
  width: 200px;
}
